body{
    background-color: rgb(68, 50, 85);
    color:rgb(238, 229, 216);
} 
.job-container{
    background-color: rgba(206, 154, 255, 0.124);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:20px;
    max-width: 700px;
    margin: auto;
    text-align: center;
}
.jobs{
    border:1px solid blue;
    width: 300px;
    margin: auto;
}
.skills-container{
    background-color: rgba(206, 154, 255, 0.124);
    border-radius: 10px;
}

.hide{
    display: none;
}