body {
    background-attachment: fixed;
    background-color: rgb(52, 29, 76);
    background-image: url(images/styles.gif);
    background-size:cover;
    background-repeat: no-repeat;
    color: rgb(238, 229, 216);
    font-family: "Raleway", sans-serif;
}

main {
    background-color: rgba(206, 154, 255, 0.124);
    border-radius: 10px;
    height:max-content;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

.job-container {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.jobs {
    background-color: rgba(251, 154, 223, 0.258);
    border-radius: 10px;
    margin: auto;
    width: 300px;
}

.hide {
    background-color: #ffdbf640;
    border-radius: 10px;
    border: 1px solid pink;
    display: none;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 480px;
}

.about-me {
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
}

.bottom {
    background-color: rgba(251, 154, 223, 0.258);
    border-radius: 10px;
    margin: auto;
    height: 120px;
    width: 300px;
    text-align: center;
}
.bottom-container {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 20px;
}

footer {
    text-align: center;
}

a {
    color: rgb(255, 89, 117);
    text-decoration: none;
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 7px rgb(255, 89, 117),
            0 0 14px #c507ff,
            0 0 17px rgb(255, 89, 117),
            0 0 24px #c507ff,
            0 0 34px rgb(255, 89, 117);
    }
}
a:hover{
    animation: pulsate 1.0s infinite alternate;
}
@media screen and (max-width: 768px) {
    body {
        background-image: url('images/IrF.gif');
        background-size: cover;
        background-attachment: fixed;
    }
    .jobs {
        background-color: rgba(154, 219, 251, 0.258);
        border-radius: 10px;
        margin: auto;
        width: 300px;
        border-style:dotted;
    }
    .bottom {
        background-color: rgba(154, 219, 251, 0.258);
        border-radius: 10px;
        border-style:ridge;
        margin: auto;
        height: 120px;
        width: 300px;
        text-align: center;
    }
}
